{% extends template %}

{% set title = "Articles"|trans %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {% trans %} User {% endtrans %}
                <small>
                    {% trans %} List, add, or edit users {% endtrans %}
                </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a data-pjax href="{{ urlFor('admin.index') }}">
                        <i class="fa fa-dashboard"></i> 
                        {% trans %} Dashboard {% endtrans %}
                    </a>
                </li>
                <li class="active"><i class="fa fa-users"></i> 
                    {% trans %} User {% endtrans %}
                </li>
            </ol>
            {% include 'flash.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul id="nav-filter-status" class="nav nav-tabs">
                <li class="pull-right">
                    <a data-pjax href="{{ urlFor('admin.user.create') }}" 
                       data-placement="left">
                        <i class="fa fa-plus"></i>
                        {% trans %} Add New {% endtrans %}
                    </a>
                </li>
            </ul>
            <table class="table" id="tbl-user">
                <colgroup>
                    <col width='20%'/>
                    <col width='30%'/>
                    <col width='30%'/>
                    <col width='10%'/>
                    <col width='10%'/>
                </colgroup>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Fullname</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $tblUser = $("#tbl-user").DataTable({
            serverSide: true,
            processing: false,
            ordering: false,
            ajax: '{{ urlFor('admin.user.datatables') }}',
            lengthChange: true,
            columns: [
                {data: 'username'},
                {data: 'email'},
                {data: 'fullname'},
                {data: "role"},
                {data: 'control'}
            ]
        });

        function _delete(url) {
            var message = '<span class="text-danger"><h4>'
                    + '{% trans %} Are you sure want to delete this user? {% endtrans %}</h4>'
                    + '<p>{% trans %} All posts related to this user will be deleted{% endtrans %}</p></span>';
            bootbox.confirm(message, function(result) {
                if (result) {
                    $.ajax({
                        url: url,
                        type: 'post',
                        data: {_METHOD: "DELETE"},
                        success: function(result) {
                            if (result) {
                                $tblUser.ajax.reload();
                                loadCountInfo();
                            }
                        }
                    });
                }
            });
        }

    </script>
{% endblock %}