<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Administrator Login</title>
			
		<link rel="stylesheet" href="{{ siteUrl('lib/bootstrap/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ siteUrl('css/login.css') }}" />
	</head>
	<body>
		<div class="container">
			<form id="form-login" action="{{ siteUrl('auth') }}" 
						autocomplete="off" method="post">
				<h2>Administrator Page</h2>
				{% include 'flash.twig' %}
				<p>Provide username and password to access</p>
				<input type="text" class="form-control" name="username" 
							 id="in-username" placeholder="Username" autofocus/>
				<input style="display:none;" />
				<input type="password" class="form-control" name="password" 
							 id="in-password" placeholder="Password"/>
				<br />
				<button type="submit" class='btn btn-lg btn-primary btn-block'>Authenticate</button>
			</form>
		</div>
	</body>
</html>