{% extends template %}

{% block content %}
    <article>
        <header>
            <h1>{{ i18n.getTitle() }}</h1>
        </header>
        <strong>
            {% for category in i18n.article.categories %}
                {% for translation in category.translations %}
                    {% if translation.language == i18n.language %}
                        {{ translation.name }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </strong>
        {{ i18n.getContent()|raw }}
    </article>
{% endblock %}